
/* .main{
    /* background: url('../assessts/image/billy-huynh-W8KTS-mhFUE-unsplash.jpg');
    /* background-repeat: no-repeat; */
    /* margin-top: -5%;
    height: 80vh;
    width: 100%; 
    background-color: aqua; */
/* } */
#home{
    /* background-color: tomato; */
    /* /* background:linear-gradient(rgba(204, 43, 43, 0.325) , rgba(0, 0, 0, 0.337)) , */
    background:
    url(https://img.freepik.com/vektoren-kostenlos/futuristischer-hintergrund-mit-geometrischem-farbverlauf_23-2149116406.jpg) ; 
   color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90.1vh;
    text-align: center;
    /* color: white; */
}
h1{
    margin: 0px;
}

.hCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
